{% extends "bootstrap/base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}

{% block navbar %}
<div class="navbar">
<div class="navbar-header">
    <a class="navbar-brand" href="{{url_for('webui.index')}}">
    <img alt="Brand" src="{{ url_for('static', filename='img/Carford.png')}}" height="20px">
    </a>
    <ul class="nav navbar-nav">
        <li><a href="{{url_for('webui.index')}}">Home</a></li>
      </ul>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container">    
<h1>{{config.get('TITLE')}} - Opportunities </h1>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_addvehicle">
        Add Vehicle
    </button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_addowner">
        Add Owner
    </button>
    <div class="jumbotron">
    <ul class="list-group">
        {% for opportunitie in opportunities %}
        <li class="list-group-item">
            <h6>{{opportunitie.name}}</h6>
            <button class="btn btn-danger" onclick="delete_owner('{{opportunitie.id}}')" >Delete Owner</button>

        </li>
        {% endfor %}
        {% if not opportunities %}
        <h2>You don't have oppotunitie</h2>
        {% endif %}
    </ul>
    </div>
</div>
<div class="container">
    <h1>{{config.get('TITLE')}} - Owners</h1>
        <div class="jumbotron">
        <ul class="list-group">
            {% for owner in owners %}
            <li class="list-group-item">
                <a href="{{url_for('webui.ownerview', owner_id=owner.id)}}">{{owner.name}}</a>
            </li>
            {% endfor %}
            {% if not owners %}
            <h2>You don't have owner</h2>
            {% endif %}
        </ul>
        </div>
    </div>
        
<!-- The modal -->
<div class="modal fade" id="modal_addvehicle" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            <h4 class="modal-title" id="modalLabel">Add Vehicle</h4>
            </div>
            <div class="modal-body">
                <form id="form_add_vehicle">
                    <div class="form-group">
                        <label for="owner">Owner:</label>
                        {{ form_vehicle.owner(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="color">Color:</label>
                        {{ form_vehicle.color( class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="model">Model:</label>
                        {{ form_vehicle.model( class="form-control") }}
                      </div>
                    <div class="form-group">
                        <label for="brand">Brand:</label>
                        {{ form_vehicle.brand( class="form-control") }}
                      </div>
                    <button onclick="add_vehicle()" class="btn btn-primary">Submit</button>
                  </form>                  
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_addowner" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            <h4 class="modal-title" id="modalLabel">Add Vehicle</h4>
            </div>
            <div class="modal-body">
                <form id = "form_add_owner">
                    <div class="form-group">
                      <label for="owner">Owner:</label>
                      {{ form_owner.name( class="form-control") }}
                    </div>
                    <button onclick="add_owner()" class="btn btn-primary">Submit</button>
                </form>                  
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
<script src="{{ url_for('static', filename='js/owner.js')}}"></script>
{% endblock %}



